server:
  error:
    include-message: always
    include-binding-errors: always
spring:
  application:
    name: JunitDemo
  datasource:
    url: jdbc:postgresql://localhost:5432/unit
    username: postgres
    password: root
    driver-class-name: org.postgresql.Driver
  # Hibernate properties
  jpa:
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true